.colorMesa{
    background: #D9D9D9;
}
.fondo{
    background: #FFFFFF;
}
.Btn3{
    background-color: #FF7484;
}
.Btn2{
    background-color: #71E687;
}
.Btn1{
    background-color: #FFD462;
}
.noti{
    background: #F6F1F5;
}
.agregar{
    background-color: #00AFEA;
    color:#FFFFFF;
    border-radius: 100px;
    
}

.seleccion{
    background: #FFBB82;
}

.text-Selector{
    color: #FFBB82;
}
.fondoultimo{
    background-color: #F6F1F5;
}