.colorBut1{
    background: #71E687;
}
.blanco2{
    background: #F9F9F9;
}
.Btn1{
    background-color: #FF7484;
}
.Btn2{
    background-color: #8C8993;
}
.Btn3{
    background-color: #71E687;
}
.agregar{
    background-color: #FFD462;
    color:#FFFFFF;
    border-radius: 100px;
    
}