<div
	class="fixed inset-0 z-10 flex items-center justify-center overflow-x-hidden overflow-y-auto outline-none focus:outline-none"
>
	<div class="relative w-auto max-w-3xl mx-auto my-6">
		<!-- Contenido del cuadro de diálogo -->
		<div class="border rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none p-6">
			<h2 class="text-sm font-semibold mb-4 text-center">Registro de Customers</h2>

			<form (submit)="registerCustomer()" [formGroup]="customerForm" class="grid grid-cols-2 gap-4">
				<div class="mb-4">
					<label for="firstName" class="block text-gray-600 text-xs font-medium mb-2">firstName</label>
					<input
						type="text"
						id="firstName"
						name="firstName"
						formControlName="firstName"
						class="px-3 py-2 border rounded-lg w-full focus:ring focus:ring-blue-300"
					/>
					<div
						*ngIf="
							customerForm.get('firstName').hasError('required') &&
							(customerForm.get('firstName').dirty || customerForm.get('firstName').touched)
						"
						class="text-red-500 text-xs mt-1"
					>
						Este campo es requerido.
					</div>
				</div>

				<div class="mb-4">
					<label for="lastName" class="block text-gray-600 text-xs font-medium mb-2">lastName</label>
					<input
						type="text"
						id="lastName"
						name="lastName"
						formControlName="lastName"
						class="px-3 py-2 border rounded-lg w-full focus:ring focus:ring-blue-300"
					/>
					<div
						*ngIf="
							customerForm.get('lastName').hasError('required') &&
							(customerForm.get('lastName').dirty || customerForm.get('lastName').touched)
						"
						class="text-red-500 text-xs mt-1"
					>
						Este campo es requerido.
					</div>
				</div>

				<div class="mb-4">
					<label for="email" class="block text-gray-600 text-xs font-medium mb-2">email</label>
					<input
						type="email"
						id="email"
						name="email"
						formControlName="email"
						class="px-3 py-2 border rounded-lg w-full focus:ring focus:ring-blue-300"
					/>
					<div
						*ngIf="
							(customerForm.get('email').hasError('required') || customerForm.get('email').hasError('email')) &&
							(customerForm.get('email').dirty || customerForm.get('email').touched)
						"
						class="text-red-500 text-xs mt-1"
					>
						Ingrese un correo electrónico válido.
					</div>
				</div>

				<div class="mb-4">
					<label for="phoneNumber" class="block text-gray-600 text-xs font-medium mb-2">phoneNumber</label>
					<input
						type="text"
						id="phoneNumber"
						name="phoneNumber"
						formControlName="phoneNumber"
						class="px-3 py-2 border rounded-lg w-full focus:ring focus:ring-blue-300"
					/>
					<div
						*ngIf="
							customerForm.get('phoneNumber').hasError('required') &&
							(customerForm.get('phoneNumber').dirty || customerForm.get('phoneNumber').touched)
						"
						class="text-red-500 text-xs mt-1"
					>
						Este campo es requerido.
					</div>
				</div>
				<div class="mb-4">
					<label for="address" class="block text-gray-600 text-xs font-medium mb-2">address</label>
					<input
						type="text"
						id="address"
						name="address"
						formControlName="address"
						class="px-3 py-2 border rounded-lg w-full focus:ring focus:ring-blue-300"
					/>
					<div
						*ngIf="
							customerForm.get('address').hasError('required') &&
							(customerForm.get('address').dirty || customerForm.get('address').touched)
						"
						class="text-red-500 text-xs mt-1"
					>
						Este campo es requerido.
					</div>
				</div>
				<div class="mb-4">
					<label for="city" class="block text-gray-600 text-xs font-medium mb-2">City</label>
					<input
						type="text"
						id="city"
						name="city"
						formControlName="city"
						class="px-3 py-2 border rounded-lg w-full focus:ring focus:ring-blue-300"
					/>
					<div
						*ngIf="
							customerForm.get('city').hasError('required') &&
							(customerForm.get('city').dirty || customerForm.get('city').touched)
						"
						class="text-red-500 text-xs mt-1"
					>
						Este campo es requerido.
					</div>
				</div>
				<div class="mb-4">
					<label for="state" class="block text-gray-600 text-xs font-medium mb-2">State</label>
					<input
						type="text"
						id="state"
						name="state"
						formControlName="state"
						class="px-3 py-2 border rounded-lg w-full focus:ring focus:ring-blue-300"
					/>
					<div
						*ngIf="
							customerForm.get('state').hasError('required') &&
							(customerForm.get('state').dirty || customerForm.get('state').touched)
						"
						class="text-red-500 text-xs mt-1"
					>
						Este campo es requerido.
					</div>
				</div>
				<div class="mb-4">
					<label for="postalCode" class="block text-gray-600 text-xs font-medium mb-2">PostalCode</label>
					<input
						type="text"
						id="postalCode"
						name="postalCode"
						formControlName="postalCode"
						class="px-3 py-2 border rounded-lg w-full focus:ring focus:ring-blue-300"
					/>
					<div
						*ngIf="
							customerForm.get('postalCode').hasError('required') &&
							(customerForm.get('postalCode').dirty || customerForm.get('postalCode').touched)
						"
						class="text-red-500 text-xs mt-1"
					>
						Este campo es requerido.
					</div>
				</div>
				<div class="mb-4">
					<label for="country" class="block text-gray-600 text-xs font-medium mb-2">Country</label>
					<input
						type="text"
						id="country"
						name="country"
						formControlName="country"
						class="px-3 py-2 border rounded-lg w-full focus:ring focus:ring-blue-300"
					/>
					<div
						*ngIf="
							customerForm.get('country').hasError('required') &&
							(customerForm.get('country').dirty || customerForm.get('country').touched)
						"
						class="text-red-500 text-xs mt-1"
					>
						Este campo es requerido.
					</div>
				</div>

				<div class="mb-4 col-span-2">
					<button
						type="submit"
						class="bg-blue-500 text-white py-2 px-4 rounded-lg cursor-pointer mr-2 hover:bg-blue-700"
						mat-button
						[mat-dialog-close]="'Resultado de cierre'"
					>
						Registrar Customer
					</button>
					<button
						type="button"
						class="text-blue-500 border border-blue-500 py-2 px-4 rounded-lg cursor-pointer hover:text-blue-700"
						mat-button
						[mat-dialog-close]="'Resultado de cierre'"
					>
						Cerrar
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="fixed inset-0 bg-black opacity-50"></div>
