.fondo{
    height: 100vh;
    background: #F6F1F5; /* Ajusta la altura según tus necesidades */
  }
  
  .tamanioGrafica {
    width: 80%; /* Ajusta el ancho según tus necesidades */
    max-width: 1000px; /* Ancho máximo para evitar que la gráfica sea demasiado ancha */
  }
  