<div
	class="fixed inset-0 z-10 flex items-center justify-center overflow-x-hidden overflow-y-auto outline-none focus:outline-none"
>
	<div class="relative w-auto max-w-3xl mx-auto my-6">
		<!-- Contenido del cuadro de diálogo -->
		<div class="border rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none p-6">
			<h2 class="text-sm font-semibold mb-4 text-center">Registro de Producto</h2>

			<form (submit)="registerProduct()" [formGroup]="productForm" class="flex flex-col">
				<div class="mb-4">
					<label for="productName" class="block text-gray-600 text-xs font-medium mb-2">Nombre del Producto</label>
					<input
						type="text"
						id="productName"
						name="productName"
						formControlName="productName"
						class="px-3 py-2 border rounded-lg w-full focus:ring focus:ring-blue-300"
					/>
					<div
						*ngIf="
							productForm.get('productName').hasError('required') &&
							(productForm.get('productName').dirty || productForm.get('productName').touched)
						"
						class="text-red-500 text-xs mt-1"
					>
						Este campo es requerido.
					</div>
				</div>

				<div class="mb-4">
					<label for="productDescription" class="block text-gray-600 text-xs font-medium mb-2">Descripción</label>
					<textarea
						id="productDescription"
						name="productDescription"
						formControlName="productDescription"
						required
						class="px-3 py-2 border rounded-lg w-full focus:ring focus:ring-blue-300"
					></textarea>
					<div
						*ngIf="
							productForm.get('productDescription').hasError('required') &&
							(productForm.get('productDescription').dirty || productForm.get('productDescription').touched)
						"
						class="text-red-500 text-xs mt-1"
					>
						Este campo es requerido.
					</div>
				</div>

				<div class="mb-4">
					<label for="productPrice" class="block text-gray-600 text-xs font-medium mb-2">Precio</label>
					<input
						type="number"
						id="productPrice"
						name="productPrice"
						formControlName="productPrice"
						required
						class="px-3 py-2 border rounded-lg w-full focus:ring focus:ring-blue-300"
					/>
					<div
						*ngIf="
							(productForm.get('productPrice').hasError('required') ||
								productForm.get('productPrice').hasError('min')) &&
							(productForm.get('productPrice').dirty || productForm.get('productPrice').touched)
						"
						class="text-red-500 text-xs mt-1"
					>
						Ingrese un precio válido mayor o igual a 0.
					</div>
				</div>

				<div class="mb-4">
					<label for="amountProduct" class="block text-gray-600 text-xs font-medium mb-2">AmountProduct</label>
					<input
						type="number"
						id="amountProduct"
						name="amountProduct"
						formControlName="amountProduct"
						required
						class="px-3 py-2 border rounded-lg w-full focus:ring focus:ring-blue-300"
					/>
					<div
						*ngIf="
							(productForm.get('amountProduct').hasError('required') ||
								productForm.get('amountProduct').hasError('min')) &&
							(productForm.get('amountProduct').dirty || productForm.get('amountProduct').touched)
						"
						class="text-red-500 text-xs mt-1"
					>
						Ingrese una cantidad válida mayor o igual a 0.
					</div>
				</div>
				<div class="mb-4">
					<label for="productImage" class="block text-gray-600 text-xs font-medium mb-2">Imagen del Producto</label>
					<input
						type="file"
						id="productImage"
						name="productImage"
						(change)="handleImageInput($event)"
						class="px-3 py-2 border rounded-lg w-full focus:ring focus:ring-blue-300"
					/>
				</div>

				<div class="flex justify-end">
					<button
						type="submit"
						class="bg-blue-500 text-white py-2 px-4 rounded-lg cursor-pointer mr-2 hover:bg-blue-700"
						mat-button
						[mat-dialog-close]="'Resultado de cierre'"
						[disabled]="productForm.invalid"
					>
						Registrar Producto
					</button>
					<button
						type="button"
						class="text-blue-500 border border-blue-500 py-2 px-4 rounded-lg cursor-pointer hover:text-blue-700"
						mat-button
						[mat-dialog-close]="'Resultado de cierre'"
					>
						Cerrar
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="fixed inset-0 bg-black opacity-50"></div>
